# Movie Recommendation System

В этом проекте будет построена система рекомендации фильмов на основе предпочтений пользователя.

Описание датасетов:

movies.csv
- movieId (ID фильма)
- title (Название фильма)
- genres (Жанры фильма)

rating.csv
- userId (ID пользователя)
- movieId (ID фильма)
- rating (рейтинг фильма)
- timestamp (время оценки фильма)

In [2]:
#Импорт необходимых библиотек.
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import ipywidgets as widgets
from IPython.display import display

In [2]:
# Загрузка датафрейма. 
df = pd.read_csv('movies.csv')

In [3]:
df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

Для дальнейшей корректной работы модели необходимо обработать колонку с наименованиями фильмов.

In [3]:
# Функция удаляет из строк все символы кроме букв, цифр и пробелов.
def cleaner_title(title):
    title_name = list([x for x in title if x.isalpha() or x.isnumeric() or x == ' '])
    title_name = "".join(title_name)
    return title_name

In [45]:
df['clean_title'] = df.title.apply(lambda x: cleaner_title(x))

In [46]:
df

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

Для работы с текстом будет использоваться TfidfVectorizer.
При создании матрицы в параметр ngram_range передадим (1, 2). Теперь, вместо того, чтобы смотреть только на отдельные слова в заголовке, этот параметр будет смотреть на два соседних слова, что делает наш поиск более точным.

In [129]:
tfidf = TfidfVectorizer(ngram_range = (1, 2))
result = tfidf.fit_transform(df.clean_title)

In [130]:
print(result)

  (0, 138185)	0.5609151642422612
  (0, 153659)	0.5236464902527855
  (0, 765)	0.2947573407787223
  (0, 138139)	0.30818287987354687
  (0, 153651)	0.4788631896261391
  (1, 76504)	0.679914841526996
  (1, 76503)	0.6556226145512709
  (1, 765)	0.3284429867728573
  (2, 93349)	0.4587178998289233
  (2, 107111)	0.4026827592738571
  (2, 61526)	0.4587178998289233
  (2, 93316)	0.2658829644982531
  (2, 107056)	0.2945915056134832
  (2, 61525)	0.4587178998289233
  (2, 765)	0.22159051090518359
  (3, 47845)	0.4482553482876628
  (3, 152011)	0.4482553482876628
  (3, 161443)	0.4482553482876628
  (3, 47844)	0.4482553482876628
  (3, 151842)	0.1883000782500215
  (3, 161425)	0.33752574781287953
  (3, 765)	0.21653641961669368
  (4, 70048)	0.39452077294643884
  (4, 111110)	0.3080717668800027
  (4, 20699)	0.4091386155137103
  :	:
  (62419, 135199)	0.335141385640017
  (62419, 846)	0.21664294220561653
  (62419, 165196)	0.3842738783112516
  (62419, 106499)	0.1903879435867097
  (62419, 143808)	0.09431759289399541
  (62419, 104476)	0.1369809271422316
  (62420, 114935)	0.5423209533427819
  (62420, 12391)	0.5423209533427819
  (62420, 114933)	0.509197076055833
  (62420, 896)	0.21136300980350195
  (62420, 12301)	0.32835953306360266
  (62421, 58470)	0.5723440843449776
  (62421, 150137)	0.5723440843449776
  (62421, 846)	0.26983928187857303
  (62421, 150126)	0.41654076435521686
  (62421, 58313)	0.3138870048540488
  (62422, 104984)	0.4432414377171873
  (62422, 73509)	0.42740515800620077
  (62422, 38996)	0.4074538051037474
  (62422, 166529)	0.37665896961920126
  (62422, 38950)	0.2950007451451352
  (62422, 676)	0.24886479219075577
  (62422, 166452)	0.27566865663205536
  (62422, 73488)	0.2679284461662038
  (62422, 104476)	0.1274099335581139

In [89]:
tfidf.vocabulary_

{'toy': 153651,
 'story': 138139,
 '1995': 765,
 'toy story': 153659,
 'story 1995': 138185,
 'jumanji': 76503,
 'jumanji 1995': 76504,
 'grumpier': 61525,
 'old': 107056,
 'men': 93316,
 'grumpier old': 61526,
 'old men': 107111,
 'men 1995': 93349,
 'waiting': 161425,
 'to': 151842,
 'exhale': 47844,
 'waiting to': 161443,
 'to exhale': 152011,
 'exhale 1995': 47845,
 'father': 49667,
 'of': 104476,
 'the': 143808,
 'bride': 20653,
 'part': 111076,
 'ii': 70020,
 'father of': 49714,
 'of the': 106499,
 'the bride': 144563,
 'bride part': 20699,
 'part ii': 111110,
 'ii 1995': 70048,
 'heat': 64722,
 'heat 1995': 64739,
 'sabrina': 125338,
 'sabrina 1995': 125340,
 'tom': 152720,
 'and': 6820,
 'huck': 68768,
 'tom and': 152726,
 'and huck': 7249,
 'huck 1995': 68769,
 'sudden': 139375,
 'death': 36831,
 'sudden death': 139377,
 'death 1995': 36866,
 'goldeneye': 59719,
 'goldeneye 1995': 59721,
 'american': 6007,
 'president': 116430,
 'american president': 6141,
 'president the': 116443,
 'the 1995': 143912,
 'dracula': 42267,
 'dead': 36419,
 'loving': 87889,
 'it': 73692,
 'dracula dead': 42293,
 'dead and': 36472,
 'and loving': 7349,
 'loving it': 87905,
 'it 1995': 73711,
 'balto': 12896,
 'balto 1995': 12897,
 'nixon': 102228,
 'nixon 1995': 102229,
 'cutthroat': 33908,
 'island': 73488,
 'cutthroat island': 33909,
 'island 1995': 73529,
 'casino': 24873,
 'casino 1995': 24876,
 'sense': 129017,
 'sensibility': 129038,
 'sense and': 129022,
 'and sensibility': 7567,
 'sensibility 1995': 129041,
 'four': 53845,
 'rooms': 124005,
 'four rooms': 53908,
 'rooms 1995': 124006,
 'ace': 2621,
 'ventura': 159320,
 'when': 163810,
 'nature': 100361,
 'calls': 23336,
 'ace ventura': 2631,
 'ventura when': 159323,
 'when nature': 163855,
 'nature calls': 100375,
 'calls 1995': 23343,
 'money': 96188,
 'train': 153885,
 'money train': 96244,
 'train 1995': 153899,
 'get': 57625,
 'shorty': 131151,
 'get shorty': 57671,
 'shorty 1995': 131152,
 'copycat': 31524,
 'copycat 1995': 31525,
 'assassins': 10404,
 'assassins 1995': 10407,
 'powder': 116002,
 'powder 1995': 116004,
 'leaving': 83379,
 'las': 82239,
 'vegas': 159026,
 'leaving las': 83384,
 'las vegas': 82261,
 'vegas 1995': 159032,
 'othello': 108914,
 'othello 1995': 108918,
 'now': 103556,
 'then': 149803,
 'now and': 103588,
 'and then': 7667,
 'then 1995': 149804,
 'persuasion': 112866,
 'persuasion 1995': 112869,
 'city': 28342,
 'lost': 87099,
 'children': 27094,
 'cité': 28464,
 'des': 38267,
 'enfants': 46186,
 'perdus': 112551,
 'la': 80904,
 'city of': 28439,
 'of lost': 105672,
 'lost children': 87137,
 'children the': 27138,
 'the cité': 144869,
 'cité des': 28466,
 'des enfants': 38295,
 'enfants perdus': 46192,
 'perdus la': 112552,
 'la 1995': 80945,
 'shanghai': 130101,
 'triad': 154536,
 'yao': 167735,
 'dao': 34953,
 'waipo': 161404,
 'qiao': 118390,
 'shanghai triad': 130123,
 'triad yao': 154541,
 'yao yao': 167740,
 'yao dao': 167738,
 'dao waipo': 34959,
 'waipo qiao': 161405,
 'qiao 1995': 118391,
 'dangerous': 34802,
 'minds': 94822,
 'dangerous minds': 34842,
 'minds 1995': 94825,
 'twelve': 155836,
 'monkeys': 96330,
 'aka': 4110,
 '12': 261,
 'twelve monkeys': 155846,
 'monkeys aka': 96335,
 'aka 12': 4112,
 '12 monkeys': 286,
 'monkeys 1995': 96332,
 'wings': 165275,
 'courage': 32147,
 'wings of': 165294,
 'of courage': 104910,
 'courage 1995': 32153,
 'babe': 11908,
 'babe 1995': 11910,
 'carrington': 24644,
 'carrington 1995': 24645,
 'man': 90070,
 'walking': 161566,
 'dead man': 36538,
 'man walking': 90277,
 'walking 1995': 161569,
 'across': 2709,
 'sea': 127978,
 'time': 151350,
 'across the': 2718,
 'the sea': 148409,
 'sea of': 128047,
 'of time': 106533,
 'time 1995': 151381,
 'takes': 141693,
 'two': 155999,
 'it takes': 73830,
 'takes two': 141710,
 'two 1995': 156015,
 'clueless': 29227,
 'clueless 1995': 29228,
 'cry': 33403,
 'beloved': 15339,
 'country': 32014,
 'cry the': 33432,
 'the beloved': 144383,
 'beloved country': 15346,
 'country 1995': 32038,
 'richard': 122217,
 'iii': 70148,
 'richard iii': 122228,
 'iii 1995': 70167,
 'presidents': 116453,
 'dead presidents': 36562,
 'presidents 1995': 116454,
 'restoration': 121679,
 'restoration 1995': 121680,
 'mortal': 97134,
 'kombat': 80014,
 'mortal kombat': 97138,
 'kombat 1995': 80015,
 'die': 39538,
 'for': 52915,
 'to die': 151981,
 'die for': 39628,
 'for 1995': 52918,
 'how': 68639,
 'make': 89686,
 'an': 6521,
 'quilt': 118818,
 'how to': 68682,
 'to make': 152168,
 'make an': 89687,
 'an american': 6574,
 'american quilt': 6144,
 'quilt 1995': 118819,
 'seven': 129466,
 'se7en': 127976,
 'seven aka': 129480,
 'aka se7en': 4304,
 'se7en 1995': 127977,
 'pocahontas': 114876,
 'pocahontas 1995': 114877,
 'night': 101585,
 'is': 73133,
 'falling': 48940,
 'when night': 163857,
 'night is': 101732,
 'is falling': 73230,
 'falling 1995': 48944,
 'usual': 158137,
 'suspects': 140536,
 'usual suspects': 158140,
 'suspects the': 140538,
 'guardian': 61621,
 'angel': 7920,
 '1994': 764,
 'guardian angel': 61625,
 'angel 1994': 7946,
 'mighty': 94393,
 'aphrodite': 8959,
 'mighty aphrodite': 94395,
 'aphrodite 1995': 8961,
 'lamerica': 81832,
 'lamerica 1994': 81833,
 'big': 16279,
 'green': 61052,
 'big green': 16358,
 'green the': 61119,
 'georgia': 57500,
 'georgia 1995': 57502,
 'kids': 78457,
 'round': 124373,
 'table': 141405,
 'kids of': 78493,
 'the round': 148276,
 'round table': 124383,
 'table 1995': 141410,
 'home': 67352,
 'holidays': 67109,
 'home for': 67418,
 'for the': 53273,
 'the holidays': 146349,
 'holidays 1995': 67111,
 'postman': 115825,
 'postino': 115823,
 'il': 70252,
 'postman the': 115831,
 'the postino': 147905,
 'postino il': 115824,
 'il 1994': 70268,
 'confessional': 30727,
 'confessionnal': 30729,
 'le': 82970,
 'confessional the': 30728,
 'the confessionnal': 144995,
 'confessionnal le': 30730,
 'le 1995': 83002,
 'indian': 71792,
 'in': 70845,
 'cupboard': 33691,
 'indian in': 71803,
 'in the': 71464,
 'the cupboard': 145150,
 'cupboard the': 33692,
 'eye': 48292,
 '1996': 766,
 'eye for': 48326,
 'for an': 52933,
 'an eye': 6631,
 'eye 1996': 48307,
 'mr': 97915,
 'hollands': 67127,
 'opus': 108324,
 'mr hollands': 97975,
 'hollands opus': 67128,
 'opus 1995': 108326,
 'dont': 41539,
 'be': 14062,
 'menace': 93433,
 'south': 135384,
 'central': 25581,
 'while': 163951,
 'drinking': 42842,
 'your': 168767,
 'juice': 76377,
 'hood': 67748,
 'dont be': 41549,
 'be menace': 14144,
 'menace to': 93440,
 'to south': 152345,
 'south central': 135400,
 'central while': 25593,
 'while drinking': 163954,
 'drinking your': 42847,
 'your juice': 168826,
 'juice in': 76381,
 'the hood': 146373,
 'hood 1996': 67764,
 'if': 69910,
 'by': 22614,
 'two if': 156075,
 'if by': 69918,
 'by sea': 22711,
 'sea 1996': 128003,
 'biodome': 16750,
 'biodome 1996': 16751,
 'lawnmower': 82894,
 'beyond': 16013,
 'cyberspace': 33936,
 'lawnmower man': 82895,
 'man beyond': 90173,
 'beyond cyberspace': 16039,
 'cyberspace 1996': 33937,
 'bits': 17009,
 'two bits': 156029,
 'bits 1995': 17010,
 'french': 54582,
 'twist': 155954,
 'gazon': 57037,
 'maudit': 92124,
 'french twist': 54608,
 'twist gazon': 155968,
 'gazon maudit': 57038,
 'maudit 1995': 92125,
 'friday': 54696,
 'friday 1995': 54706,
 'from': 54960,
 'dusk': 43638,
 'till': 151288,
 'dawn': 35664,
 'from dusk': 55036,
 'dusk till': 43642,
 'till dawn': 151293,
 'dawn 1996': 35684,
 'fair': 48706,
 'game': 56332,
 'fair game': 48717,
 'game 1995': 56349,
 'kicking': 78342,
 'screaming': 127847,
 'kicking and': 78346,
 'and screaming': 7561,
 'screaming 1995': 127850,
 'misérables': 95579,
 'les': 83927,
 'misérables les': 95583,
 'les 1995': 83952,
 'bed': 14720,
 'roses': 124190,
 'bed of': 14734,
 'of roses': 106206,
 'roses 1996': 124195,
 'bully': 21950,
 'big bully': 16318,
 'bully 1996': 21951,
 'screamers': 127841,
 'screamers 1995': 127843,
 'nico': 101512,
 'icon': 69764,
 'nico icon': 101516,
 'icon 1995': 69765,
 'crossing': 33188,
 'guard': 61600,
 'crossing guard': 33200,
 'guard the': 61611,
 'juror': 76726,
 'juror the': 76728,
 'the 1996': 143913,
 'white': 164056,
 'balloon': 12836,
 'badkonake': 12445,
 'sefid': 128689,
 'white balloon': 164086,
 'balloon the': 12846,
 'the badkonake': 144259,
 'badkonake sefid': 12446,
 'sefid 1995': 128690,
 'things': 150160,
 'do': 40706,
 'denver': 38013,
 'youre': 168908,
 'things to': 150201,
 'to do': 151983,
 'do in': 40747,
 'in denver': 71052,
 'denver when': 38017,
 'when youre': 163887,
 'youre dead': 168913,
 'dead 1995': 36444,
 'antonias': 8718,
 'line': 85356,
 'antonia': 8715,
 'antonias line': 8719,
 'line antonia': 85386,
 'antonia 1995': 8716,
 'once': 107689,
 'upon': 157863,
 'we': 162769,
 'were': 163376,
 'colored': 29818,
 'once upon': 107713,
 'upon time': 157883,
 'time when': 151516,
 'when we': 163876,
 'we were': 162861,
 'were colored': 163385,
 'colored 1995': 29819,
 'last': 82296,
 'summer': 139608,
 'hamptons': 62987,
 'last summer': 82517,
 'summer in': 139681,
 'the hamptons': 146198,
 'hamptons 1995': 62988,
 'angels': 8031,
 'insects': 72284,
 'angels and': 8062,
 'and insects': 7269,
 'insects 1995': 72285,
 'squall': 136558,
 'white squall': 164226,
 'squall 1996': 136559,
 'dunston': 43556,
 'checks': 26633,
 'dunston checks': 43557,
 'checks in': 26634,
 'in 1996': 70856,
 'black': 17082,
 'sheep': 130425,
 'black sheep': 17282,
 'sheep 1996': 130429,
 'nick': 101474,
 'nick of': 101487,
 'journey': 76091,
 'august': 11109,
 'king': 79058,
 'the journey': 146655,
 'journey of': 76132,
 'of august': 104630,
 'august king': 11131,
 'king 1995': 79071,
 'mary': 91572,
 'reilly': 120992,
 'mary reilly': 91614,
 'reilly 1996': 120993,
 'vampire': 158593,
 'brooklyn': 21137,
 'vampire in': 158634,
 'in brooklyn': 70963,
 'brooklyn 1995': 21147,
 'beautiful': 14515,
 'girls': 58507,
 'beautiful girls': 14551,
 'girls 1996': 58543,
 'broken': 21028,
 'arrow': 9901,
 'broken arrow': 21037,
 'arrow 1996': 9911,
 'bleak': 17575,
 'midwinter': 94344,
 'the bleak': 144450,
 'bleak midwinter': 17577,
 'midwinter 1995': 94345,
 'hate': 64000,
 'haine': 62630,
 'hate haine': 64015,
 'haine la': 62631,
 'shopping': 131080,
 'shopping 1994': 131082,
 'heidi': 64968,
 'fleiss': 52100,
 'hollywood': 67178,
 'madam': 88922,
 'heidi fleiss': 64976,
 'fleiss hollywood': 52101,
 'hollywood madam': 67230,
 'madam 1995': 88926,
 'hall': 62771,
 'city hall': 28423,
 'hall 1996': 62777,
 'bottle': 19562,
 'rocket': 123428,
 'bottle rocket': 19571,
 'rocket 1996': 123430,
 'wrong': 167271,
 'mr wrong': 98071,
 'wrong 1996': 167275,
 'unforgettable': 157247,
 'unforgettable 1996': 157248,
 'happy': 63376,
 'gilmore': 58188,
 'happy gilmore': 63416,
 'gilmore 1996': 58189,
 'bridges': 20761,
 'madison': 89051,
 'county': 32082,
 'bridges of': 20767,
 'of madison': 105699,
 'madison county': 89056,
 'county the': 32103,
 'nobody': 102660,
 'loves': 87825,
 'me': 92482,
 'keiner': 77923,
 'liebt': 84616,
 'mich': 94090,
 'nobody loves': 102671,
 'loves me': 87849,
 'me keiner': 92635,
 'keiner liebt': 77924,
 'liebt mich': 84617,
 'mich 1994': 94091,
 'muppet': 98445,
 'treasure': 154322,
 'muppet treasure': 98452,
 'treasure island': 154344,
 'island 1996': 73530,
 'catwalk': 25268,
 'catwalk 1996': 25269,
 'headless': 64455,
 'body': 18687,
 'topless': 153131,
 'bar': 13244,
 'headless body': 64457,
 'body in': 18715,
 'in topless': 71479,
 'topless bar': 153135,
 'bar 1995': 13250,
 'braveheart': 20300,
 'braveheart 1995': 20301,
 'taxi': 142427,
 'driver': 42898,
 '1976': 708,
 'taxi driver': 142443,
 'driver 1976': 42900,
 'rumble': 124737,
 'bronx': 21106,
 'hont': 67739,
 'faan': 48446,
 'kui': 80498,
 'rumble in': 124743,
 'the bronx': 144583,
 'bronx hont': 21115,
 'hont faan': 67740,
 'faan kui': 48447,
 'kui 1995': 80499,
 'before': 14896,
 'after': 3413,
 'before and': 14903,
 'and after': 6850,
 'after 1996': 3418,
 'margarets': 90984,
 'museum': 98680,
 'margarets museum': 90985,
 'museum 1995': 98685,
 'happiness': 63346,
 'field': 50625,
 'bonheur': 19069,
 'est': 46962,
 'dans': 34910,
 'pré': 117585,
 'happiness is': 63366,
 'is in': 73276,
 'the field': 145744,
 'field bonheur': 50632,
 'bonheur est': 19073,
 'est dans': 46965,
 'dans le': 34913,
 'le pré': 83161,
 'pré le': 117586,
 'anne': 8385,
 'frank': 54184,
 'remembered': 121230,
 'anne frank': 8387,
 'frank remembered': 54210,
 'remembered 1995': 121233,
 'young': 168639,
 'poisoners': 115055,
 'handbook': 63063,
 'young poisoners': 168723,
 'poisoners handbook': 115056,
 'handbook the': 63066,
 'lucy': 88122,
 'fell': 50195,
 'if lucy': 69934,
 'lucy fell': 88128,
 'fell 1996': 50198,
 'steal': 137371,
 'little': 85691,
 'steal big': 137375,
 'big steal': 16435,
 'steal little': 137377,
 'little 1995': 85696,
 'race': 119009,
 'sun': 139760,
 'race the': 119036,
 'the sun': 148852,
 'sun 1996': 139786,
 'boys': 19975,
 'st': 136663,
 'vincent': 160142,
 '1992': 758,
 'boys of': 20048,
 'of st': 106405,
 'st vincent': 136695,
 'vincent the': 160153,
 'the 1992': 143909,
 'boomerang': 19230,
 'boomerang 1992': 19232,
 'chungking': 27899,
 'express': 48121,
 'chung': 27894,
 'hing': 66549,
 'sam': 125974,
 'lam': 81805,
 'chungking express': 27900,
 'express chung': 48156,
 'chung hing': 27896,
 'hing sam': 66551,
 'sam lam': 125991,
 'lam 1994': 81807,
 'star': 136949,
 'maker': 89722,
 'uomo': 157740,
 'delle': 37701,
 'stelle': 137505,
 'star maker': 137010,
 'maker the': 89733,
 'the uomo': 149300,
 'uomo delle': 157747,
 'delle stelle': 37709,
 'stelle 1995': 137507,
 'flirting': 52275,
 'with': 165669,
 'disaster': 40222,
 'flirting with': 52279,
 'with disaster': 165733,
 'disaster 1996': 40223,
 'neverending': 101127,
 'neverending story': 101130,
 'story iii': 138227,
 'iii the': 70216,
 'the 1994': 143911,
 'silences': 131922,
 'palace': 110086,
 'saimt': 125639,
 'el': 44934,
 'qusur': 118888,
 'silences of': 131923,
 'the palace': 147673,
 'palace the': 110108,
 'the saimt': 148323,
 'saimt el': 125640,
 'el qusur': 45056,
 'qusur 1994': 118889,
 'jupiters': 76703,
 'wife': 164619,
 'jupiters wife': 76707,
 'wife 1994': 164646,
 'pie': 113547,
 'sky': 132985,
 'pie in': 113557,
 'the sky': 148606,
 'sky 1996': 133002,
 'angela': 7996,
 'angela 1995': 7998,
 'frankie': 54271,
 'starlight': 137086,
 'frankie starlight': 54276,
 'starlight 1995': 137087,
 'jade': 74328,
 'jade 1995': 74329,
 'nueba': 103710,
 'yol': 168255,
 'nueba yol': 103711,
 'yol 1995': 168256,
 'sonic': 134955,
 'outlaws': 109364,
 'sonic outlaws': 134956,
 'outlaws 1995': 109367,
 'down': 42067,
 'periscope': 112725,
 'down periscope': 42115,
 'periscope 1996': 112727,
 'journals': 76087,
 'jean': 74841,
 'seberg': 128254,
 'from the': 55197,
 'the journals': 146654,
 'journals of': 76090,
 'of jean': 105497,
 'jean seberg': 74849,
 'seberg 1995': 128255,
 'year': 167832,
 'man of': 90240,
 'the year': 149647,
 'year 1995': 167842,
 'neon': 100844,
 'bible': 16207,
 'neon bible': 100845,
 'bible the': 16214,
 'target': 142218,
 'target 1995': 142226,
 'up': 157752,
 'close': 29001,
 'personal': 112837,
 'up close': 157803,
 'close and': 29006,
 'and personal': 7465,
 'personal 1996': 112840,
 'birdcage': 16831,
 'birdcage the': 16833,
 'shadows': 129887,
 'cienie': 28033,
 '1988': 744,
 'shadows cienie': 129913,
 'cienie 1988': 28034,
 'gospa': 60266,
 'gospa 1995': 60267,
 'brothers': 21243,
 'mcmullen': 92460,
 'brothers mcmullen': 21290,
 'mcmullen the': 92461,
 'bad': 12301,
 'bad boys': 12331,
 'boys 1995': 19995,
 'amazing': 5818,
 'panda': 110291,
 'adventure': 3112,
 'amazing panda': 5834,
 'panda adventure': 110295,
 'adventure the': 3157,
 'basketball': 13694,
 'diaries': 39402,
 'basketball diaries': 13697,
 'diaries the': 39415,
 'awfully': 11691,
 'awfully big': 11692,
 'big adventure': 16286,
 'adventure an': 3145,
 'an 1995': 6537,
 'amateur': 5796,
 'amateur 1994': 5797,
 'apollo': 9010,
 '13': 323,
 'apollo 13': 9012,
 '13 1995': 333,
 'rob': 123161,
 'roy': 124481,
 'rob roy': 123166,
 'roy 1995': 124482,
 'addiction': 2917,
 'addiction the': 2919,
 'batman': 13827,
 'forever': 53487,
 'batman forever': 13840,
 'forever 1995': 53506,
 'beauty': 14597,
 'day': 35721,
 'belle': 15260,
 'de': 36023,
 'jour': 76065,
 '1967': 682,
 'beauty of': 14635,
 'the day': 145211,
 'day belle': 35788,
 'belle de': 15268,
 'de jour': 36180,
 'jour 1967': 76067,
 'rangoon': 119754,
 'beyond rangoon': 16054,
 'rangoon 1995': 119755,
 'blue': 18252,
 'face': 48495,
 'blue in': 18330,
 'the face': 145653,
 'face 1995': 48512,
 'canadian': 23699,
 'bacon': 12295,
 'canadian bacon': 23701,
 'bacon 1995': 12297,
 'casper': 24890,
 'casper 1995': 24891,
 'clockers': 28957,
 'clockers 1995': 28958,
 'congo': 30816,
 'congo 1995': 30817,
 'crimson': 32961,
 'tide': 151080,
 'crimson tide': 32977,
 'tide 1995': 151083,
 'crumb': 33346,
 'crumb 1994': 33348,
 'desperado': 38533,
 'desperado 1995': 38537,
 'devil': 38861,
 'dress': 42751,
 'devil in': 38918,
 'in blue': 70947,
 'blue dress': 18309,
 'dress 1995': 42752,
 'hard': 63484,
 'vengeance': 159220,
 'die hard': 39643,
 'hard with': 63544,
 'with vengeance': 165907,
 'vengeance 1995': 159237,
 'doom': 41652,
 'generation': 57246,
 'doom generation': 41661,
 'generation the': 57270,
 'feast': 49994,
 'july': 76490,
 'feast of': 50005,
 'of july': 105538,
 'july 1995': 76495,
 'first': 51523,
 'knight': 79683,
 'first knight': 51579,
 'knight 1995': 79687,
 'free': 54423,
 'willy': 165067,
 'free willy': 54471,
 'willy the': 165071,
 'the adventure': 144008,
 'adventure home': 3152,
 'home 1995': 67384,
 'hackers': 62486,
 'hackers 1995': 62487,
 'jeffrey': 74933,
 'jeffrey 1995': 74934,
 'johnny': 75720,
 'mnemonic': 95680,
 'johnny mnemonic': 75761,
 'mnemonic 1995': 95681,
 'judge': 76292,
 'dredd': 42732,
 'judge dredd': 76298,
 'dredd 1995': 42733,
 'jury': 76729,
 'duty': 43702,
 'jury duty': 76735,
 'duty 1995': 43704,
 'kids 1995': 78467,
 'living': 86089,
 'oblivion': 104144,
 'living in': 86130,
 'in oblivion': 71303,
 'oblivion 1995': 104146,
 'lord': 86926,
 'illusions': 70477,
 'lord of': 86938,
 'of illusions': 105436,
 'illusions 1995': 70480,
 'love': 87363,
 'human': 68894,
 'remains': 121164,
 '1993': 762,
 'love human': 87544,
 'human remains': 68940,
 'remains 1993': 121165,
 'mad': 88860,
 'mad love': 88886,
 'love 1995': 87422,
 'mallrats': 89960,
 'mallrats 1995': 89961,
 'morphin': 97092,
 'power': 116014,
 'rangers': 119738,
 'movie': 97732,
 'mighty morphin': 94402,
 'morphin power': 97093,
 'power rangers': 116041,
 'rangers the': 119748,
 'the movie': 147363,
 'movie 1995': 97752,
 'moonlight': 96796,
 'valentino': 158442,
 'moonlight and': 96803,
 'and valentino': 7715,
 'valentino 1995': 158445,
 'mute': 98903,
 'witness': 166034,
 'mute witness': 98905,
 'witness 1994': 166041,
 'nadja': 99764,
 'nadja 1994': 99765,
 'net': 100968,
 'net the': 100975,
 'nine': 102069,
 'months': 96623,
 'nine months': 102085,
 'months 1995': 96625,
 'party': 111213,
 'girl': 58313,
 'party girl': 111271,
 'girl 1995': 58367,
 'prophecy': 117376,
 'prophecy the': 117388,
 'reckless': 120420,
 'reckless 1995': 120425,
 'safe': 125467,
 'safe 1995': 125468,
 'scarlet': 127223,
 'letter': 84241,
 'scarlet letter': 127238,
 'letter the': 84256,
 'show': 131244,
 'the show': 148530,
 'show 1995': 131254,
 'showgirls': 131321,
 'showgirls 1995': 131322,
 'smoke': 133707,
 'smoke 1995': 133714,
 'something': 134685,
 'talk': 141880,
 'about': 2259,
 'something to': 134716,
 'to talk': 152365,
 'talk about': 141892,
 'about 1995': 2264,
 'species': 135810,
 'species 1995': 135812,
 'stars': 137112,
 'on': 107344,
 'henrietta': 65423,
 'stars fell': 137147,
 'fell on': 50205,
 'on henrietta': 107509,
 'henrietta the': 65427,
 'strange': 138324,
 'days': 35884,
 'strange days': 138348,
 'days 1995': 35905,
 'umbrellas': 156595,
 'cherbourg': 26761,
 'parapluies': 110764,
 '1964': 678,
 'umbrellas of': 156596,

Для вычесления сходства между поисковым запросом и названиями фильмов будет использоваться cosine_similarity.
Для поиска написана функция которая очищает заголовок, преобразует заголовок в набор цифр, с помощью cosine_similarity находит сходство между поисковым запросом пользователя и всеми названиями в данных,
возвращает пять наиболее похожих названий по вашему поисковому запросу.

In [195]:
def search(name):
    title = cleaner_title(name)
    query_vec = tfidf.transform([title])
    similarity = cosine_similarity(query_vec, result).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    results = df.iloc[indices].sort_values('movieId')
    return results

Следующим шагом необходимо создать интерактивный виджет Jupyter Notebook, в котором можно ввести название фильма и просмотреть результаты поиска.

In [198]:
movie_input = widgets.Text(
    value='Toy Story',
    description='Movie Title:',
    disabled=False
)
movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            display(search(title))

movie_input.observe(on_type, names='value')


display(movie_input, movie_list)

Text(value='Toy Story', description='Movie Title:')

Output()

Создадим функцию для поиска всех пользователей, которым понравился тот же фильм. 
Затем необходимо посмотреть другие фильмы, которые им понравились, так как они, возможно, будут хорошими рекомендациями.

In [201]:
rating_movie = pd.read_csv('ratings.csv')

In [202]:
rating_movie

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

Найдем пользователей, которым понравился тот же фильм. Затем нам нужно найти другие фильмы, которые эти пользователи высоко оценили. После чего установим пороговое значение для рекомендаций. Например, мы могли бы сказать, что по крайней мере 10% таких пользователей, как мы, должны поставить лайк фильму для включения в наши рекомендации.

In [212]:
similar_users = rating_movie[(rating_movie.movieId==movie_id) & (rating_movie.rating > 4)]['userId'].unique()

In [213]:
similar_users

array([    36,     75,     86, ..., 162527, 162530, 162533], dtype=int64)

In [234]:
similar_user_rec = rating_movie[(rating_movie.userId.isin(similar_users)) & (rating_movie.rating > 4)]['movieId']

In [235]:
similar_user_rec = similar_user_rec.value_counts() / len(similar_users)
similar_user_rec = similar_user_rec[similar_user_rec > .1]

In [245]:
similar_user_rec

1        1.000000
318      0.445607
260      0.403770
356      0.370215
296      0.367295
           ...
953      0.103053
551      0.101195
1222     0.100876
745      0.100345
48780    0.100186
Name: movieId, Length: 113, dtype: float64

In [248]:
all_users = rating_movie[(rating_movie.movieId.isin(similar_user_rec.index)) & (rating_movie.rating > 4)]

In [249]:
all_users

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
29             1     4973     4.5  1147869080
48             1     7361     5.0  1147880055
72             2      110     5.0  1141416589
76             2      260     5.0  1141417172
...          ...      ...     ...         ...
25000062  162541     5618     4.5  1240953299
25000065  162541     5952     5.0  1240952617
25000078  162541     7153     5.0  1240952613
25000081  162541     7361     4.5  1240953484
25000090  162541    50872     4.5  1240953372

[1727573 rows x 4 columns]

In [250]:
all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

In [251]:
all_user_recs

318      0.342220
296      0.284674
2571     0.244033
356      0.235266
593      0.225909
           ...
551      0.040918
50872    0.039111
745      0.037031
78499    0.035131
2355     0.025091
Name: movieId, Length: 113, dtype: float64

Now that we found the percentages, we compare them.

In [252]:
rec_percentages = pd.concat([similar_user_rec, all_user_recs], axis=1)
rec_percentages.columns = ["similar", "all"]

In [256]:
rec_percentages

        similar       all     score
1      1.000000  0.124728  8.017414
32     0.160711  0.100293  1.602424
34     0.130555  0.052229  2.499660
47     0.225909  0.144469  1.563719
50     0.275604  0.200513  1.374497
...         ...       ...       ...
59315  0.104593  0.054269  1.927310
60069  0.170640  0.076307  2.236221
68954  0.159172  0.064944  2.450924
78499  0.152960  0.035131  4.354038
79132  0.166817  0.131384  1.269693

[113 rows x 3 columns]

In [255]:
rec_percentages['score'] = rec_percentages['similar'] / rec_percentages['all']

In [257]:
rec_percentages = rec_percentages.sort_values("score", ascending=False)

In [258]:
rec_percentages.head(10).merge(df, left_index=True, right_on="movieId")

,similar,all,score,movieId,title,genres,clean_title
0,1.000000,0.124728,8.017414,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,0.280648,0.053706,5.225654,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
2264,0.110539,0.025091,4.405452,2355,"Bug's Life, A (1998)",Adventure|Animation|Children|Comedy,Bugs Life A 1998
14813,0.152960,0.035131,4.354038,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
4780,0.235147,0.070811,3.320783,4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy,Monsters Inc 2001
580,0.216618,0.067513,3.208539,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,Aladdin 1992
6258,0.228139,0.072268,3.156862,6377,Finding Nemo (2003),Adventure|Animation|Children|Comedy,Finding Nemo 2003
587,0.179400,0.059977,2.991150,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,Beauty and the Beast 1991
8246,0.203504,0.068453,2.972889,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,Incredibles The 2004
359,0.253411,0.085764,2.954762,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,Lion King The 1994

Now we need to put all of these into a function. It should return the following columns of our top 10 movie recommendations

In [266]:
def find_similar_movies(movie_id):
    similar_users = rating_movie[(rating_movie.movieId==movie_id) & (rating_movie.rating > 4)]['userId'].unique()
    similar_user_rec = rating_movie[(rating_movie.userId.isin(similar_users)) & (rating_movie.rating > 4)]['movieId']
    
    similar_user_rec = similar_user_rec.value_counts() / len(similar_users)
    similar_user_rec = similar_user_rec[similar_user_rec > .1]

    all_users = rating_movie[(rating_movie.movieId.isin(similar_user_rec.index)) & (rating_movie.rating > 4)]
    all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
    
    rec_percentages = pd.concat([similar_user_rec, all_user_recs], axis=1)
    rec_percentages.columns = ["similar", "all"]

    rec_percentages['score'] = rec_percentages['similar'] / rec_percentages['all']
    
    rec_percentages = rec_percentages.sort_values("score", ascending=False)
    return rec_percentages.head(10).merge(df, left_index=True, right_on="movieId")[['score', 'title', 'genres']]

Now we can build the widget that will do this automatically so we can type in a movie title and get recommendations.

In [268]:
movie_name_input = widgets.Text(
    value='Toy Story',
    description='Movie Title:',
    disabled=False
)
recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))

movie_name_input.observe(on_type, names='value')

display(movie_name_input, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()